<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523686326282-9nb373qofb664i6p4a1i34nq38k0a64e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523686326282-9nb373qofb664i6p4a1i34nq38k0a64e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4aQ0jaeUQTuN5JU1oKf_797uvaU4VgE</string>
	<key>GCM_SENDER_ID</key>
	<string>523686326282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TeeksCode.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-f340e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-f340e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523686326282:ios:f7cd1a852b1dbe4847eff3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-tutorial-f340e.firebaseio.com</string>
</dict>
</plist>